<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Java (J2SE, J2EE)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->		
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>C/C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Javascript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar --> 
		
	     <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar --> 
		
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>PL/SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar --> 
		
	      <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>NodeJs</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Development Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Object Oriented Programming</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Design Patterns</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Service Oriented Architecture</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>SOAP</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->   
		
		 <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>REST</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar --> 
		
		
			 <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Spring / Spring Boot / Spring Cloud</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
		
		 <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Microservices Architecture</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar --> 
		
		 <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Hibernate/JPA</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar --> 
		
			
		 <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Agile Development</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar --> 
		
			
		 <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>CI/CD</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar --> 
		
		 <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>TDD/BDD</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar --> 
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Database Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Oracle</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>MySQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>PostgreSQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>MongoDB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
		
		  <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Hazelcast</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
		
		  <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Redis</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
	    
	    
	    
	          
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">IDE & Tools Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Intellij</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Eclipse</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>SOAPUI</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Postman</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
		
		  <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>PL/SQL Developer</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
		
		  <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Git</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
		
			
		  <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Atlassian(Jira,Bitbucket,Bamboo)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
		
			
		  <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Apache Maven</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
        </div>
	    
	    
	  <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">App Servers & Containers Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->   
	    
	    <div class="skills">
	      <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Tomcat</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
	    
	      <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>JBoss</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
	    
	      <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>IBM Websphere</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
	    
	      <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Docker</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
	    
	    <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Kubernates/Openshift</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
        </div>
	    
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Turkish</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>French</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li>
                <h5>Software Consultant <span class="duration"><i class="fa fa-calendar color"></i> Mar 2020 - Present</span></h5>
                <h6><span class="fa fa-briefcase"></span> Sekerbank</h6>
		<h6>Projects: </h6>
                <h6>Soft OTP Implementation</h6>
		<ul style="list-style-type:disc">
  		   <li>Converting all login, authentication and money transfer security confirmation process from SMS to Soft OTP </li>
		</ul>   
		<h6>Digital Suite</h6>
		<ul style="list-style-type:disc">
  		   <li>Digital suite is a digital transformation project which contains transformation of all monolithic backend banking domains to microservice architecture </li>
                   <li>Played major role in the architectural structure and development of the project </li>
		   <li>Design and development microservices </li>
		   <li>Tech Stack: Java8, Spring Boot, Microservices, DDD, CI/CD, REST Atlassian Tools(Jira, Bitbucket, Confluence, Bamboo), Swagger Docker, Kubernates / Openshift, Oracle, ELK, Redis, MongoDB </li>
		</ul>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
	    
	<!-- .attributes -->
        <ul class="attributes">
            <li>
                <h5>Sr Software Developer <span class="duration"><i class="fa fa-calendar color"></i> Sep 2014 - Mar 2020</span></h5>
                <h6><span class="fa fa-briefcase"></span> Hitit Computer Services - Pegasus Airlines</h6>
		<h6>Projects: </h6>
                <h6>Airlines HES Entegration (Hayat Eve Sığar)</h6>
		<ul style="list-style-type:disc">
  		   <li>Adapting airlines passenger services systems to HES application of Ministry of Health </li>
                   <li>Played project leader role determining project architecture and design </li>
		</ul>   
		<h6>Butterfly API - Pegasus Airlines</h6>
		<ul style="list-style-type:disc">
  		   <li>Building a new REST Api using Spring and releated libraries </li>
                   <li>Within digital transformation of Pegasus Airlines, adapting new technologies using both Agile and TDD/CI/CD standarts such as Java 8, Oracle, Mongo DB, Spring Boot, Redis, Hazelcast, Swagger, Jenkins, Jira, Bitbucket, Git </li>
		   <li>Designing and developing microservices </li>	
		</ul>
		<h6>NDC (New Distribution Capability), Project Leader and Architect</h6>
		<ul style="list-style-type:disc">
  		   <li>Determination and design of project architecture </li>
                   <li>Working in connection with customer and applying the requirements </li>
		   <li>Organize the teammates </li>	
		</ul>
		<h6>Travel Portal</h6>
		<ul style="list-style-type:disc">
  		   <li>Travel portal software is a comprehensive and powerful web based online booking system, designed for travel industry especially for travel management companies, destination management companies, travel aggregators, B2B B2C travel agencies, tour operators and home based travel agents. Following are the salient features of a travel portal system and my responsiblities during the development:  </li>
                   <li>Designing & development web service layers for Domestic & International Ticket Booking , Hotel Booking, Car Booking, Holiday Packages, Bus Booking systems and making these sub systems work together </li>
		</ul>
		<h6>OTA (Online Travel Agency)</h6>
		<ul style="list-style-type:disc">
  		   <li>Development / Analysis / Design / Integration OTA Web Services for airline customers </li>
                   <li>Research and Development both client and server side web service applications within security fundamentals and concepts </li>
		</ul>		    
		<h6>E-Ticket & E-Invoice</h6>
		<ul style="list-style-type:disc">
  		   <li>Designing and implementing Java web services for profile, agent and integration </li>
                   <li>Web service design and development to communicate revenue management </li>
	           <li>Frontend & Backend development adapting new java technologies and software principles </li>
		</ul>
            </li>

        </ul>
        <!-- /.attributes -->
        
	    
	 <br>    

	<!-- .attributes -->
        <ul class="attributes">
            <li>
                <h5>Software Developer <span class="duration"><i class="fa fa-calendar color"></i> Mar 2012 - Sep 2014</span></h5>
                <h6><span class="fa fa-briefcase"></span> NETAS - Ribbon Communications</h6>
		<h6>Projects: </h6>
                <h6>A2 Application Server</h6>
		<ul style="list-style-type:disc">
  		   <li>Implementing several features and fixing bug reports </li>
                   <li>Analysing technical integration documents and communicating with integrators </li>
		</ul>   
		<h6>Gencom Client</h6>
		<ul style="list-style-type:disc">
  		   <li>Serving as a scrum team member </li>
                   <li>Investigation, development, design testing and documentation of both new features, backlog items and defects </li>
		</ul>
		<h6>TAF (Test Automation Framework)</h6>
		<ul style="list-style-type:disc">
  		   <li>Adapting A2 application server and its components according to TDD development priciples and continuous integration lifecycle </li>
                   <li>Writing test suites using JUnit </li>
		</ul>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
	    
	    
	    
	    
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Bachelor of Science <span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2012</span></h5>
                <h6><span class="fa fa-book"></span> Istanbul Technical University</h6>
                <p>Electronic and Telecommunication Engineering</p>
            </li>          
        </ul>
        <!-- /.attributes -->
        <br>  
                   
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  

</div>
<!-- End .resume -->
