<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">volkan tuyji</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Volkan Tuyji</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">November 08, 1987</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Istanbul, Turkey</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">tjwolkan@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+90 (505) 260 3593</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">tuyji.github.io</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px;text-align: justify">
            <i class="fa fa-quote-left"></i>       
            Experienced Software Developer and Programmer with expertise in Java and related programming languages, applications and architecture using Agile Methodologies and following TDD practices. Highly skilled and motivated in implementing Scalable & High available application and services to provide a robust and reliable environment.
        </p>
        
         <p style="margin-bottom:20px;text-align: justify">
            <i class="fa fa-quote-left"></i>       
            Experienced in designing interfaces with Web Services (REST & SOAP) and Microservices. Strong understanding of applying Agile and Extreme Programming, Unit Testing, Continuous Integration and Pair Programming to deliver well tested solutions.
        </p>
	    
	  <p style="margin-bottom:20px;text-align: justify">
            <i class="fa fa-quote-left"></i>       
            Tenacious problem solver continuously seeking effective solutions to complex problems. Enjoys being part of a team, as well as motivating and training a productive team, and thrives in high pressure and challenging working environments. Passionate about using new technologies and applying them to real world problems.
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Services</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Software Consulting</h6>
                    <p>A holistic set of consulting services for both new and ongoing software development projects</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Custom Software Development</h6>
                    <p>Development of custom enterprise software solutions to address the unique needs of your business</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Software Product Development</h6>
                    <p>Development of backend applications for marketing and distributing to mass enterprise/consumer users</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->



<div class="clear"></div>
</div>
<!-- End .profile -->
